#
# This file is part of the LibreOffice project.
#
# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
#
# This file incorporates work covered by the following license notice:
#
#   Licensed to the Apache Software Foundation (ASF) under one or more
#   contributor license agreements. See the NOTICE file distributed
#   with this work for additional information regarding copyright
#   ownership. The ASF licenses this file to you under the Apache
#   License, Version 2.0 (the "License"); you may not use this file
#   except in compliance with the License. You may obtain a copy of
#   the License at http://www.apache.org/licenses/LICENSE-2.0 .
#
[Desktop Entry]
Version=1.0
Terminal=false
Icon=libreoffice-impress
Type=Application
Categories=Office;Presentation;X-Red-Hat-Base;
Exec=env GTK_THEME="libmod-impress" libreoffice --impress %U
MimeType=application/vnd.oasis.opendocument.presentation;application/vnd.oasis.opendocument.presentation-template;application/vnd.sun.xml.impress;application/vnd.sun.xml.impress.template;application/mspowerpoint;application/vnd.ms-powerpoint;application/vnd.openxmlformats-officedocument.presentationml.presentation;application/vnd.ms-powerpoint.presentation.macroEnabled.12;application/vnd.openxmlformats-officedocument.presentationml.template;application/vnd.ms-powerpoint.template.macroEnabled.12;application/vnd.openxmlformats-officedocument.presentationml.slide;application/vnd.openxmlformats-officedocument.presentationml.slideshow;application/vnd.ms-powerpoint.slideshow.macroEnabled.12;application/vnd.oasis.opendocument.presentation-flat-xml;application/x-iwork-keynote-sffkey;application/vnd.apple.keynote;
Name=LibreOffice Impress
GenericName=Presentation
GenericName[af]=Voorlegging
GenericName[ar]=عرض تقديمي
GenericName[as]=পৰিৱেশন
GenericName[bg]=Презентация
GenericName[bn]=উপস্থাপনা
GenericName[br]=Kinnigadenn
GenericName[ca]=Presentació
GenericName[cs]=Prezentace
GenericName[cy]=Cyflwyniad
GenericName[da]=Præsentation
GenericName[de]=Präsentation
GenericName[dz]=Presentation
GenericName[el]=Παρουσίαση
GenericName[en]=Presentation
GenericName[eo]=Prezentaĵo
GenericName[es]=Presentación
GenericName[et]=Esitlus
GenericName[eu]=Aurkezpena
GenericName[fa]=ارائه
GenericName[fi]=Esitys
GenericName[fr]=Présentation
GenericName[fy]=Presintaasje
GenericName[ga]=Láithreoireacht
GenericName[gl]=Presentación
GenericName[gu]=પ્રેઝન્ટેશન
GenericName[he]=מצגת
GenericName[hi]=प्रस्तुति
GenericName[hr]=Prezentacija
GenericName[hu]=Bemutató
GenericName[id]=Presentasi
GenericName[it]=Presentazione
GenericName[ja]=プレゼンテーション
GenericName[kk]=Презентация
GenericName[kn]=ಪ್ರೆಸೆಂಟೇಶನ್
GenericName[ko]=프레젠테이션
GenericName[lt]=Pateiktis
GenericName[lv]=Prezentācija
GenericName[mai]=प्रस्तुति
GenericName[ml]=പ്രസന്റേഷന്‍
GenericName[mr]=सादरीकरण
GenericName[nb]=Presentasjon
GenericName[nl]=Presentatie
GenericName[nn]=Presentasjon
GenericName[nr]=Presentation
GenericName[nso]=Tlhagišo
GenericName[or]=ଉପସ୍ଥାପନା
GenericName[pa_IN]=ਪਰਿਜੈਂਟੇਸ਼ਨ
GenericName[pl]=Prezentacja
GenericName[pt]=Apresentação
GenericName[pt_BR]=Apresentação
GenericName[ro]=Prezentare
GenericName[ru]=Презентация
GenericName[si]=ඉදිරිපත් කිරීම
GenericName[sk]=Prezentácia
GenericName[sl]=Predstavitev
GenericName[sr]=Презентација
GenericName[sr_Latn]=Prezentacija
GenericName[ss]=Presentation
GenericName[st]=Presentation
GenericName[sv]=Presentation
GenericName[ta]=வழங்கல்
GenericName[te]=ప్రజంటేషన్ 
GenericName[th]=การนำเสนอ
GenericName[tn]=Presentation
GenericName[tr]=Sunum
GenericName[ts]=Presentation
GenericName[uk]=Презентація
GenericName[ve]=Presentation
GenericName[xh]=Presentation
GenericName[zh_CN]=演示文稿
GenericName[zh_TW]=簡報
GenericName[zu]=Ukunikezwa kolwazi
Comment=Create and edit presentations for slideshows, meetings and Web pages.
Comment[af]=Skep en redigeer voorleggings vir vertonings, vergaderings en Web blaaie.
Comment[ar]=Create and edit presentations for slideshows, meetings and Web pages.
Comment[as]=Create and edit presentations for slideshows, meetings and Web pages.
Comment[bg]=Създаване и редактиране на презентации за прожекции, срещи и уебстраници.
Comment[bn]=Create and edit presentations for slideshows, meetings and Web pages.
Comment[br]=Create and edit presentations for slideshows, meetings and Web pages.
Comment[ca]=Creeu i editeu presentacions per a ponències, pàgines web i conferències.
Comment[cs]=Umožňuje vytvářet a upravovat prezentace pro přednášky, porady a webové stránky.
Comment[cy]=Creu a golygu cyflwyniadau ar gyfer sioeau sleidiau, cyfarfodydd a thudalennau Gwe.
Comment[da]=Create and edit presentations for slideshows, meetings and Web pages.
Comment[de]=Erstellen und bearbeiten Sie Präsentationen für Diashows, Meetings und Webseiten.
Comment[dz]=Create and edit presentations for slideshows, meetings and Web pages.
Comment[el]=Δημιουργία και επεξεργασία παρουσιάσεων για προβολές διαφανειών, συσκέψεις και ιστοσελίδες.
Comment[en]=Create and edit presentations for slideshows, meetings and Web pages.
Comment[eo]=Krei kaj redakti prezentaĵojn por lumbildaj prezentadoj, kunvenoj kaj retpaĝoj.
Comment[es]=Cree y edite presentaciones para ponencias, reuniones y páginas Web.
Comment[et]=Create and edit presentations for slideshows, meetings and Web pages.
Comment[eu]=Sortu eta editatu diapositiba-saioen, bileren eta web-orrien aurkezpenak.
Comment[fa]=Create and edit presentations for slideshows, meetings and Web pages.
Comment[fi]=Create and edit presentations for slideshows, meetings and Web pages.
Comment[fr]=Créer et modifier des présentations pour des diaporamas, des réunions et des pages Web.
Comment[fy]=Create and edit presentations for slideshows, meetings and Web pages.
Comment[ga]=Create and edit presentations for slideshows, meetings and Web pages.
Comment[gl]=Cree e edite presentacións para presentacións, reunións e páxinas da Web.
Comment[gu]=Create and edit presentations for slideshows, meetings and Web pages.
Comment[he]=יצירה ועריכה של מצגות לדיונים, פגישות ואתרים.
Comment[hi]=Create and edit presentations for slideshows, meetings and Web pages.
Comment[hr]=Create and edit presentations for slideshows, meetings and Web pages.
Comment[hu]=Bemutatók készítése és szerkesztése diavetítésekhez vagy a webre.
Comment[id]=Membuat dan menyunting presentasi untuk pertunjukan salindia, rapat, dan halaman Web.
Comment[it]=Crea e modifica presentazioni, diapositive e pagine web.
Comment[ja]=Create and edit presentations for slideshows, meetings and Web pages.
Comment[kk]=Слайдшоулар, жиналыстар және веб-беттерге арналған презентацияларды жасау және өңдеу.
Comment[kn]=Create and edit presentations for slideshows, meetings and Web pages.
Comment[ko]=Create and edit presentations for slideshows, meetings and Web pages.
Comment[lt]=Create and edit presentations for slideshows, meetings and Web pages.
Comment[lv]=Create and edit presentations for slideshows, meetings and Web pages.
Comment[mai]=Create and edit presentations for slideshows, meetings and Web pages.
Comment[ml]=Create and edit presentations for slideshows, meetings and Web pages.
Comment[mr]=Create and edit presentations for slideshows, meetings and Web pages.
Comment[nb]=Lag og rediger presentasjoner for lysbildeserier, møter og websider.
Comment[nl]=Maak en bewerk presentaties voor diavoorstellingen, vergaderingen en webpagina's.
Comment[nn]=Laga og redigera presentasjonar for lysbiletframvisingar, møte og nettsider.
Comment[nr]=Create and edit presentations for slideshows, meetings and Web pages.
Comment[nso]=Create and edit presentations for slideshows, meetings and Web pages.
Comment[or]=Create and edit presentations for slideshows, meetings and Web pages.
Comment[pa_IN]=Create and edit presentations for slideshows, meetings and Web pages.
Comment[pl]=Twórz i edytuj prezentacje na potrzeby pokazów slajdów, spotkań i stron internetowych.
Comment[pt]=Create and edit presentations for slideshows, meetings and Web pages.
Comment[pt_BR]=Crie e edite apresentações para slides, reuniões e páginas da Web.
Comment[ro]=Create and edit presentations for slideshows, meetings and Web pages.
Comment[ru]=Создание и редактирование презентаций для встреч, конференций и веб-страниц.
Comment[si]=Create and edit presentations for slideshows, meetings and Web pages.
Comment[sk]=Umožňuje vytvárať a upravovať prezentácie pre prednášky, porady a webové stránky.
Comment[sl]=Ustvarjajte in urejajte predstavitve, prosojnice in spletne strani.
Comment[sr]=Create and edit presentations for slideshows, meetings and Web pages.
Comment[sr_Latn]=Create and edit presentations for slideshows, meetings and Web pages.
Comment[ss]=Create and edit presentations for slideshows, meetings and Web pages.
Comment[st]=Create and edit presentations for slideshows, meetings and Web pages.
Comment[sv]=Skapa och redigera presentationer för bildspel, möten och webbsidor.
Comment[ta]=Create and edit presentations for slideshows, meetings and Web pages.
Comment[te]=Create and edit presentations for slideshows, meetings and Web pages.
Comment[th]=Create and edit presentations for slideshows, meetings and Web pages.
Comment[tn]=Create and edit presentations for slideshows, meetings and Web pages.
Comment[tr]=Slayt gösterileri, toplantılar ve Web sayfaları için sunumlar oluşturun ve düzenleyin.
Comment[ts]=Create and edit presentations for slideshows, meetings and Web pages.
Comment[uk]=Створення і редагування презентацій для зустрічей, конференцій і веб-сторінок.
Comment[ve]=Create and edit presentations for slideshows, meetings and Web pages.
Comment[xh]=Create and edit presentations for slideshows, meetings and Web pages.
Comment[zh_CN]=创建和编辑幻灯片展示、会议以及网页使用的演示文稿。
Comment[zh_TW]=建立與編輯投影片、會議與網頁的簡報。
Comment[zu]=Create and edit presentations for slideshows, meetings and Web pages.
StartupNotify=true
X-GIO-NoFuse=true
Keywords=Slideshow;Slides;OpenDocument Presentation;Microsoft PowerPoint;Microsoft Works;OpenOffice Impress;odp;ppt;pptx;
InitialPreference=5
StartupWMClass=libreoffice-impress
X-KDE-Protocols=file,http,ftp,webdav,webdavs

Actions=NewDocument;
[Desktop Action NewDocument]
Name=New Presentation
Name[af]=Nuwe voorlegging
Name[ar]=عرض تقديمي جديد
Name[as]=নতুন পৰিৱেশন
Name[bg]=Нова презентация
Name[bn]=New Presentation
Name[br]=Kinnigadenn nevez
Name[ca]=Presentació nova
Name[cs]=Nová prezentace
Name[cy]=Cyflwyniad Newydd
Name[da]=Ny præsentation
Name[de]=Neue Präsentation
Name[dz]=གསལ་སྟོན་གསརཔ།
Name[el]=Νέα παρουσίαση
Name[en]=New Presentation
Name[eo]=Nova prezentaĵo
Name[es]=Presentación nueva
Name[et]=Uus esitlus
Name[eu]=Aurkezpen berria
Name[fa]=ارائه جدید
Name[fi]=Uusi esitys
Name[fr]=Nouvelle présentation
Name[fy]=Nije presintaasje
Name[ga]=Láithreoireacht Nua
Name[gl]=Presentación
Name[gu]=નવી રજૂઆત
Name[he]=מצגת חדשה
Name[hi]=नई प्रस्तुति
Name[hr]=Nova prezentacija
Name[hu]=Új bemutató
Name[id]=Presentasi Baru
Name[it]=Nuova presentazione
Name[ja]=新規のプレゼンテーション
Name[kk]=Жаңа презентация
Name[kn]=ಹೊಸ ಪ್ರೆಸೆಂಟೇಶನ್
Name[ko]=새 프레젠테이션
Name[lt]=Nauja pateiktis
Name[lv]=Jauna prezentācija
Name[mai]=New Presentation
Name[ml]=പുതിയ പ്രസന്റേഷന്‍
Name[mr]=नवीन सादरीकरण
Name[nb]=Ny presentasjon
Name[nl]=Nieuwe presentatie
Name[nn]=Ny presentasjon
Name[nr]=Iphrizentheyitjhini Etja
Name[nso]=New Presentation
Name[or]=ନୂଆ ଉପସ୍ଥାପନା
Name[pa_IN]=ਨਵਾ ਸਲਾਈਡ-ਸ਼ੋ
Name[pl]=Nowa prezentacja
Name[pt]=Nova apresentação
Name[pt_BR]=Nova apresentação
Name[ro]=Prezentare nouă
Name[ru]=Создать презентацию
Name[si]=ඉදිරිපත් කිරීම
Name[sk]=Nová prezentácia
Name[sl]=Nova predstavitev
Name[sr]=Нова презентација
Name[sr_Latn]=Nova prezentacija
Name[ss]=Kwetfula lokusha
Name[st]=Nehelano e Ntjha
Name[sv]=Ny presentation
Name[ta]=புதிய விளக்கக்காட்சி
Name[te]=కొత్త ప్రజంటేషన్ 
Name[th]=งานนำเสนอใหม่
Name[tn]=New Presentation
Name[tr]=Yeni Sunum
Name[ts]=Nkombiso Wuntshwa
Name[uk]=Презентація
Name[ve]=Nzudzanyo Ntswa
Name[xh]=Inkcazelo Eboniswayo Entsha
Name[zh_CN]=新建演示文稿
Name[zh_TW]=新增簡報
Name[zu]=New Presentation
Icon=document-new
Exec=libreoffice --impress
